.bg-orange {
  background-color: var(--color-orange);
}

.text-orange {
  color: var(--color-orange);
}

.bg-blue-dark {
  background-color: var(--color-blue-dark);
}

.text-blue-dark {
  color: var(--color-blue-dark);
}

.bg-blue-stone {
  background-color: var(--color-blue-stone);
}

.text-blue-stone {
  color: var(--color-blue-stone);
}

.bg-blue-middle {
  background-color: var(--color-blue-middle);
}

.text-blue-middle {
  color: var(--color-blue-middle);
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.text-grey-light {
  color: var(--color-grey-light);
}
