.bg-orange {
  background-color: var(--color-orange);
}

.text-orange {
  color: var(--color-orange);
}

.bg-blue-dark {
  background-color: var(--color-blue-dark);
}
.bg-blue-dark-gradient {
  background: rgb(2, 48, 85);
  background: linear-gradient(
    180deg,
    rgba(2, 48, 85, 1) 35%,
    rgb(0, 68, 128) 100%
  );
}

.text-blue-dark {
  color: var(--color-blue-dark);
}

.bg-blue-stone {
  background-color: var(--color-blue-stone);
}

.text-blue-stone {
  color: var(--color-blue-stone);
}

.bg-blue-middle {
  background-color: var(--color-blue-middle);
}

.text-blue-middle {
  color: var(--color-blue-middle);
}

.bg-grey-light {
  background-color: var(--color-grey-light);
}

.text-grey-light {
  color: var(--color-grey-light);
}
