@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.open-sans {
  font-family: var(--font-open-sans);
}

body {
  color: black;
  background: white
}

h1, .h1 {
  @apply text-5xl font-bold
}

h2, .h2 {
  @apply text-4xl font-bold
}

h3, .h3 {
  @apply text-3xl font-bold
}

h4, .h4 {
  @apply text-2xl
}

h5, .h5 {
  @apply text-xl
}

.md-container {
  @apply mx-auto max-w-full w-full md:w-[980px]
}

